// The .effective-panel-select top level container is a div
// That is also a .panel and .panel-default
// Oftentimes, this will be inside a simple_form wrapper, so a div of .effective_panel_select will be above this.

.effective-panel-select { // This will also have the classes panel and .panel-default
  margin-bottom: 0px;

  .panel-body { padding: 0px; }

  li.selected {
    font-weight: bold;
  }

  .tabs-left {
    > .nav-tabs {
      margin: 0 0 4px 2px;
      border-right: 1px solid #ddd;
      border-bottom: none;
    }

    > .nav-tabs > li {
      float: none;
    }

    > .nav-tabs > li > a {
      margin-right: -1px;

      -webkit-border-radius: 4px 0 0 4px;
         -moz-border-radius: 4px 0 0 4px;
              border-radius: 4px 0 0 4px;
    }

    > .nav-tabs .active > a,
    > .nav-tabs .active > a:hover
    > .nav-tabs .active > a:focus {
      border-color: #ddd transparent #ddd #ddd;
    }
  }

  .tab-content {
    padding: 0 15px 0 0;

    ul.options {
      list-style-type: none;
      margin: 0;
      padding: 0;
    }
  }

  .selector { display: none; }

  .selection {
    width: 100%;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    cursor: pointer;
  }

  span.selected {
    display: block;
    height: 32px;
    padding: 6px 24px 6px 12px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .selection-clear {
    width: 10px;
    color: #999;
    font-weight: bold;
    &:hover { color: #333; }
  }

  .selection-placeholder {
    color: #999;
    white-space: nowrap;
  }

  .selection-arrow {
    float: right;

    width: 4px;
    height: 4px;
    margin-top: -14px;
    margin-right: 18px;

    b {
      border-color: #999 transparent transparent transparent;
      border-style: solid;
      border-width: 4px 4px 0 4px;
      margin-left: 4px;
      margin-top: -2px;
    }
  }
}

.effective-panel-select.expanded {
  border-color: #55afe9;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);

  .selector { display: block; }

  .selection-arrow {
    margin-top: -38px;

    b {
      border-color: transparent transparent #999 transparent;
      border-width: 0 4px 4px 4px;
    }
  }
}

.has-error {
  .effective-panel-select { border-color: #a94442; }
}
