// The .effective-panel-select top level container is a div
// That is also a .panel and .panel-default
// Oftentimes, this will be inside a simple_form wrapper, so a div of .effective_panel_select will be above this.

.effective-panel-select { // This will also have the classes panel and .panel-default
  margin-bottom: 0px;

  li.selected {
    font-weight: bold;
  }

  .selector {
    display: none;

    .tab-content { padding-top: 0px; }
  }

  .excluded {
    display: none;
  }

  .search {
    display: none;

    padding: 0px 4px 4px 4px;

    input {
      border: 1px solid #ccc;
      border-radius: 4px;
      box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
      padding: 4px;
      width: 100%;
    }
  }

  .tab-pane.fetched { padding: 15px 15px 15px 0; }

  .selection {
    width: 100%;
    font-size: 14px;
    cursor: pointer;
  }

  .selection-title {
    display: block;
    height: 32px;
    padding: 6px 24px 6px 12px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .selection-clear {
    width: 10px;
    color: #999;
    font-weight: bold;
    &:hover { color: #333; }
  }

  .selection-placeholder {
    color: #999;
    white-space: nowrap;
  }

  .selection-arrow {
    float: right;

    width: 4px;
    height: 4px;
    margin-top: -14px;
    margin-right: 18px;

    b {
      border-color: #999 transparent transparent transparent;
      border-style: solid;
      border-width: 4px 4px 0 4px;
      margin-left: 4px;
      margin-top: -2px;
    }
  }
}

.effective-panel-select.expanded {
  margin-bottom: 15px;

  border-color: #55afe9;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);

  .selector { display: block; }
  .search { display: block; }

  .selection-arrow {
    margin-top: -38px;

    b {
      border-color: transparent transparent #999 transparent;
      border-width: 0 4px 4px 4px;
    }
  }
}

.has-error {
  .effective-panel-select { border-color: #a94442; }
}
