/ this gives me a mechanism to test the inputs easily on a site with effective style_guide installed

= form_for Effective::StyleGuide.new(:category => 'Category 2'), :url => '/' do |f|
  = f.effective_ckeditor_text_area :content
