// These are overrides from the bootstrap-theme

.select2-container .select2-selection--single .select2-selection__rendered {
  margin: 0 0 0 5px;
}

.select2-container--bootstrap .select2-selection--single .select2-selection__clear {
  float: none;
  position: absolute;
  margin: 0;
  left: 7px;
  width: 10px;
}

.select2-dropdown .select2-dropdown--below,
.select2-container--open .select2-dropdown--below,
.select2-container--bootstrap .select2-dropdown {
  min-width: 200px;
}

.select2-container .select2-search--inline .select2-search__field {
  width: 100% !important;
}

.select2-container--focus:not(.select2-container--open) {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(102, 175, 233, 0.6);
  outline: 0 none;
}

.select2-container--focus > .selection > .select2-selection {
  border: 1px solid #9cd5fe !important;
}

// effective_select option "hide_disabled: true"
.select2-container.hide-disabled .select2-results__option[aria-disabled=true] {
  display: none;
}

form.form-inline .select2-container--bootstrap {
  display: inline-block;
  width: auto;
  max-width: 300px;
}
